*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainContainer{
  max-width: 1051px;
  width: 100%;
  margin: 60px auto;
  margin-top: 110px;
}
.fixar-header{
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: #EC362D;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
z-index: 1;
}
.header{
  height: 69px;
  color: #FFFFFF;
  font: normal 700 28px 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 77px; */
}
.quizztitle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 227px;
  position: relative;
  background-image: url(../images/seleca0-brasileira.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 69px;
}
.quizztitle p{
  color: #fff;
  font: 400 39px 'Roboto', sans-serif;
  position: absolute;
 
}

.telaSobrepor{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000098;
  height: 100%;
  width: 100%;
}

h5{
  font: normal 700 20px 'Roboto', sans-serif;
}
h6{
  font-size: 20px;
  font-weight: 400;
  color: #B9B9B9;
  text-align: center;
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
h4{
  font-size: 23px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 85px;
}
.between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.semQuizz{
max-width: 1051px;
width: 100%;
height: 181px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  height: 181px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dashed #D5D5D5;
  margin-bottom: 77px;
  gap:24px
}


.botao{
  max-width: 151px;
  width: 100%;
  height: 40px;
  color: #EC362D;
  border: 1px dashed #EC362D;
  border-radius: 50px;
  text-align: center;
  font-size: 21px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.containerQuizz{
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
  gap: 15px
}
.containerImagem{
  position: relative;
  cursor: pointer;
  
 }
 .fundoDegrader{
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  width: 100%;
  height: 100%;
  position: absolute;
  
 }

 .fundoDegrader:hover{
  opacity: 0;
 }
.containerImagem img{
  width: 340px;
  height: 181px;
  border-radius: 5px;
}
.containerImagem p{
  position: absolute;
  left: 16px;
  bottom: 8px;
  color: #FFF;
  font: normal 400 18px 'Roboto', sans-serif;
  max-width: 100%;
  
}
.topoSeusQuizz{
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todosQuizz{
  margin-top: 48px;
}
.botaoAdicionarQuizz{
  width: 31px;
  height: 30px;
  background-color: #EC362D;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}
.tela3{
  height: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.telacomecePeloComeco,.telaCrieSuasPerguntas,.telaDecidaNiveis,.telaQuizzPronto{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caixaPerguntasComeco{
  max-width: 600px;
  width: 100%;
  height: 256px;
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 9px;
}
 input{
  max-width: 564px;
  width: 100%;
  height: 46px;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  font-size: 19px;
  font-family: 'Roboto';
  font-weight: 400;
}
 input::-webkit-input-placeholder{
  color: #BABABA;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  font-family: 'Roboto';
  padding-left: 23px;
}
 input::-moz-placeholder {
  color: #BABABA;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  font-family: 'Roboto';
  padding-left: 23px;
}
.botaoProsseguir, .botaoAcessarQuizz{
  font-size: 21px;
  color: #FFF5F4;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  background-color: #EC362D;
  border-radius: 15px;
  max-width: 370px;
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  cursor: pointer;
}
.tela3 h6{
  color: #000000;
  font-weight: 700;
}
.perguntas,.niveis{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;
  justify-content: center;
}
.pergunta,.nivel{
  padding-top: 16px;
  max-width: 600px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-left: 20px;
}
li{
  max-width: 600px;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  transition: height 0.5s linear;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}
.pergunta img,.nivel img{
  margin-right: 20px;
  cursor: pointer;
  width: 26px;
  height: 23px;
}
.pergunta.ocultarPergunta,.nivel.ocultarPergunta{
  height: 53px;
  overflow: hidden;
}
/* .nivel{
  max-width: 600px;
  width: 100%;
  height: 316px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
} */

.telaQuizzPronto .containerImagem {
  margin: 46px 0;
}
.telaQuizzPronto h6{
  display: initial;
  max-width: none;
  width: unset;
}
.botaoAcessarQuizz{
  max-width: 221px;
  width: 100%;
  height: 44px;
}
.telaQuizzPronto .botaoVoltarHome{
  color: #818181;
  font-size: 21px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 30px;
}

.tela2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.perguntasDoQuizz,.resultadoQuizz {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 759px;
  box-sizing: border-box;
  padding: 24px;
  gap: 24px;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.219);
}
.perguntaDoQuizz,.porcentagemAcerto{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font: 700 23px 'Roboto', sans-serif;
  background-color: blue;
  height: 137px;
  color: #fff;
  
}
.opcoesDeRespostas,.resultado{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  justify-content: space-between;
}
.resultado{
  flex-wrap: nowrap;
}
.resultado img{
  width: 364px;

}
.reiniciarQuizz{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 52px;
  border-radius: 15px;
  background-color: #EC362D;
  color: #fff;
  cursor: pointer;
  transition: all .4s;
}
.reiniciarQuizz:hover{
  transform: translateY(-5px);
  background-color: #ec372dcb;
}
.opcao{
  position: relative;
}
.voltarHome{
  cursor: pointer;
}
.naoSelecionado{
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width:100%;
  background-color: rgba(255, 255, 255, 0.425);
}
.opcao img{
  width: 329px;
  height: 175px;
}

.opcao p{
  margin-top: 10px;
  font: 700 20px 'Roboto', sans-serif;
  width: 329px;
}
.tela1{
  display: flex;
  flex-direction: column;
}
/* .tela1,.todosQuizz{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todosQuizz >.topoTodosQuizz{
  align-items: flex-start;
} */
.escondido{
  display: none;
}
@media (max-width:600px){
  .pergunta,.nivel,.caixaPerguntasComeco{
    max-width: 375px;
    width: 100%;
    background-color: aqua;
  }
  input{
    max-width: 341px;
    width: 100%;
  }
  .botaoProsseguir{
    max-width: 325px;
    width: 100%;
  }
  .descricao{
    height: 171px;
  }
  /* .containerQuizz{
    flex-direction: column;
  } */
   .tela1{
    align-items: center;
  } 
  .todosQuizz,.containerQuizz{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}